body {
  background-color: #f5f5f5 !important;
  max-width:100%;
}

.shadower {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.unloader {
  display: none !important;
}
.title {
font-family: 'Messy Handwritten', sans-serif;
  font-size: 10vw;
  text-align: center;
  margin-top: 20px;
}

.container {
  text-align: center;
  margin-top: 40px;
  padding-top: 10%x;
}

.img-fluid {
  display: block;
  margin: 0 auto;
  width: 30rem;
  height: auto;
  border: 2px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.inspire {
  font-family: 'Messy Handwritten', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin-top: 5px;
}
.listen{
  font-family: 'Messy Handwritten', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 17px;
  color
 
}

.increased {
  font-size: 40px !important;
}

.decreasedTitle {
  font-size: 3rem !important;
}

.decreased{
  display: none !important;

}
.listen a {
  
  font-size: 20px;
}
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.file-upload-wrapper label {
  background-image: url('images/fishy.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
  padding-left: 40px;


}

#fishbowl-image {
  opacity: 0.5;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 95%) !important;
  background-image: url("imagse/fishbowl.png") !important;
}




button {
  margin-right: 10px;
}
#upload-text {
  display: inline-block;
  margin-right: 10px;
}


.


